<div class="header-icons">

  {% if shop.customer_accounts_enabled %}
    <a href="{{ routes.account_url }}">
      Account
    </a>
  {% endif %}

  <a href="{{ routes.cart_url }}">
    Cart ({{ cart.item_count }})
  </a>

</div>