<nav class="site-nav" aria-label="Main navigation">
  {% for link in section.settings.menu.links %}
    <a href="{{ link.url }}" class="site-nav__link">
      {{ link.title }}
    </a>
  {% endfor %}
</nav>